// Place all the styles related to the school_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-section {
	width: 35%;
	float: left;
	margin-top: 3%;
	margin-left: 5%;
	border-right: 2px solid green;
.col-city {
	margin-left: 15%;
}
}

.right-section {
	margin-top: 10%;
	float: right;
	width: 50%;
}
.submit-button {
	margin-top: 15%;
}
.aff-radio {
    border: 2px solid #607D8B !important;
    padding: 1em 2em 1em 2em;
    border-radius: 2em !important;
    margin-left: 1em !important;
}
.card-panel {
	width: 70% !important;
    margin-left: 10% !important;
    padding: 10px !important;
}
.section-2{
	margin-top: 3% !important;
}
.custome-btn {
	margin-right: 2em !important;
	margin-left: 1em !important;
}
.custome-add {
	margin-right: 2em !important;
}

.index-show {
	font-size: 2em;
}
.index-strong {
	font-size: 1.5em !important;
}

.arrow-link {
	font-size: 2em;
}

.placeholder-font {
	font-size: 1.5em !important;
}